# ── Loki ──────────────────────────────────────────────────────────────────────
LOKI_PORT=3100

# ── Alloy ─────────────────────────────────────────────────────────────────────
ALLOY_PORT=12345

# ── Grafana ───────────────────────────────────────────────────────────────────
GRAFANA_PORT=3000
GF_ADMIN_USER=admin
GF_ADMIN_PASSWORD=password
